a {
  color: #00B7FF;
}

li a{
  color: black;
  font-size: 20px;
}

li.nav-item{
  padding-top: 10px;
  padding-left: 30px;
}

li a:hover{
  text-decoration: none;
  font-weight: bold;
  color: peachpuff;
}

li a:active{
  text-decoration: none;
  font-weight: bold;
  color: peachpuff;
}

#content{
  margin-top: 30px;
}

footer{
  position: absolute;
  bottom: 0;
  background-color: #17a2b8;
  height: 8%;
  width: 100%;
}

div.col-12{
  padding: 10px 0 0 30px;
  flex: 0 0 50%;
  float: left;
  width: 50%;
}

#contact{
  width: 30%;
  margin-top: 30px;
}
