extends layout

block content
  h1= 'Hobbies'

  p I like photography and exploring new places - traveling and driving to discover new spots around.

  p I also participated in some contests:
  ul
    each winner in winners
      li= winner.year + ': ' + winner.contest
