extends layout

block content
  h1= 'Hobbies'

  p I like photography and exploring new places - traveling and driving to discover new spots around.
  p I'm going to show you some links where you can see my pictures:

  p Flickr: #[a(href = link) click here]
