extends layout

block content
  h1= 'Patricia Vera H. - Get to know me!'
  p Click on the links above to see some facts about me, this is supposed to be kind of an online CV.

  p The repository of this app can be found #[a(href = link) here!]
