doctype html
html
  head
    title= 'Patricia Vera H.'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href='/') Home
    br
    a(href='/football') Studies and jobs
    br
    a(href='/goldenball') Hobbies

    block content
