extends layout

block content
  h1= 'Studies and Jobs'
  ul
    each winner in winners
      li= winner.category + ', ' + winner.year + ': ' + winner.what

  p Here you have the websites of the places I have worked in: #[a(href = https://www.stradivarius.com/) Stradivarius], #[a(href = https://www.elcorteingles.es/) El Corte Inglés], #[a(href = https://geoactio.com/#home) GeoActio]
