extends layout

block content
  h1= 'Studies and Jobs'
  ul
    each snj in studiesandjobs
        li= snj.category + ', ' + snj.year + ': ' + snj.what

  a(href='/studiesandjobs/add') Add new studies or jobs to the CV!