extends layout

block content
  h1= 'Studies and Jobs'
  ul
    each winner in winners
      li= winner.category + ', ' + winner.year + ': ' + winner.what

  p Stradivarius' website: #[a(href = link) Stradivarius]
